POTCAR
# *.pb
tests/graph_real.pb
*~
*.d
*.o
*.aux
*.dvi
*.pdf
*.so
*.bin
*.intbin
*.meta
*.log
*.bz2
*.pyc
\#*
iter.*

# out.txt
topol.tpr
mdout.mdp
traj*xtc
traj.trr
ener.edr
state*cpt
CMakeCache.txt
CMakeFiles
log.lammps
restart.*
dump.*
*.out
build
dist
pydispatcher.egg-info
*/*.pyc
*/__pycache__
*.swp
.eggs
.coverage
dbconfig.json
.vscode/*
*/_version.py
*/_date.py
*.egg
*.egg-info
venv/*