# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: "^tests/"
      - id: end-of-file-fixer
        exclude: "^tests/"
      - id: check-yaml
        exclude: "^conda/"
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
  # Python
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.15.2
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  # numpydoc
  - repo: https://github.com/Carreau/velin
    rev: 0.0.12
    hooks:
      - id: velin
        args: ["--write"]
  # markdown
  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies:
          # - mdformat-myst==0.3.0
          # See https://github.com/executablebooks/mdformat-myst/issues/13
          - "git+https://github.com/njzjz-bothub/mdformat-myst@d9c414e#egg=mdformat-myst"
          - mdformat-ruff==0.1.3
          - mdformat-web==0.2.0
          - mdformat-config==0.2.1
          - mdformat-beautysh==1.0.0
          - mdformat-gfm-alerts==2.0.0
  # yaml
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml]
        # workflow files cannot be modified by pre-commit.ci
        exclude: ^(\.github/workflows|conda)
