name: Test on different machines

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        machine:
          - slurm
    steps:
    - uses: actions/checkout@v2
    - run: ./ci/${{ matrix.machine }}.sh
    - uses: codecov/codecov-action@v3
      with:
        files: .coverage
        root_dir: /dpdispatcher
