'on':
  push:
    branches-ignore:
      - 'copilot/**'
      - 'dependabot/**'
      - 'pre-commit-ci-update-config'
  pull_request:
name: Type checker
jobs:
  test:
    name: pyright
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@v6
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v7
    - run: uvx --from ty==0.0.14 --with .[cloudserver,gui] ty check
