name: Python package

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        python-version:
          - 3.7
          - 3.8
          - 3.9
          - '3.10'
          - '3.11'
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - run: pip install .[test] coverage
    - name: Test
      run: coverage run --source=./dpdispatcher -m unittest -v && coverage report
    - uses: codecov/codecov-action@v3
  pass:
    needs: [test]
    runs-on: ubuntu-latest
    if: always()
    steps:
    - name: Decide whether the needed jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
